.cart-item {
  height: 10rem;
}

.cart-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.btn-cart {
  display: flex;
  place-content: center;
  text-align: center;
  padding: .375rem;
  border-radius: .25rem;
}
