body {
  text-align: center;
}

ul {
  list-style-type: none;
}

/* Clases globales */

.btn {
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 0.875rem;
}

.max-w-xl {
  max-width: 1280px;
}

.fs-small {
  font-size: 0.875rem;
}

.formMain {
  min-height: calc(100vh - 128px);
}

.form {
  width: 400px;
}