:root {
  /* Fonts*/
  line-height: 1.5;
  font-weight: 300;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  text-align: center;
}

/* Clases globales */

.btn {
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 0.875rem;
}

.max-w-xl {
  max-width: 1200px;
}

.fs-small {
  font-size: 0.875rem;
}

.formMain {
  min-height: calc(100vh - 128px);
}

.form {
  width: 400px;
}